{% extends "base.twig" %}

{% block before_content %}
<nav class="Subnav" role="navigation">
  <ul class="Subnav-list List List--inline">
    <li><a href="" class="Subnav-link h6 medium">Students</a></li>
    <li><a href="" class="Subnav-link h6 medium">Welcome</a></li>
    <li><a href="" class="Subnav-link h6 medium">Tuition Fee</a></li>
    <li><a href="" class="Subnav-link h6 medium">International Students</a></li>
    <li><a href="" class="Subnav-link Subnav--active h6 medium">Apply Now</a></li>
    <li><a href="" class="Subnav-link h6 medium">Parents</a></li>
    <li><a href="" class="Subnav-link h6 medium">Alumni</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
{% endblock %}
