{% extends "base.twig" %}

{% block content %}

{% if acf.position == 'before' %}
  <div class="landing-page-content container container--spacedBottom">
    {% include 'layout/base.twig' %}
  </div>
{% endif %}

<div class="LandingPage">
  <div class="LandingPage-banner" style="background-image: url(https://www.choate.edu/uploaded/images/Redesign_2016/main%20nav/nav-academics.jpg)">
    <div class="LandingPage-bannerCopy">
      <h1 class="h2 light navy">Teaching and Learning</h1>
      <p class="h4 normal body">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
    </div>

  </div>
  <div class="LandingPage-content">
    <div class="LandingPage-item">
      <a href="" class="LandingPage-itemBody LandingPage-itemBody--white">
        <div class="flex-wrapper">
          <h2 class="h4">Bakery & Local Produce</h2>
          <p class="h5 normal">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
          <div class="Button Button--small">Read More</div>
        </div>
        <div class="LandingPage-itemBodyIcon">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-right"></use>
          </svg>
        </div>
      </a>
      <div class="LandingPage-itemImage" style="background-image: url(https://www.choate.edu/uploaded/images/Redesign_2016/heros/hero-athletics-girls-hockey.jpg);">
      </div>
    </div>
    <div class="LandingPage-item--alt">
      <a href="" class="LandingPage-itemBody LandingPage-itemBody--white">
        <div class="flex-wrapper">
          <h2 class="h4 navy">Application Process</h2>
          <p class="h5 normal body">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at.</p>
          <div href="" class="Button Button--small">Read More</div>
        </div>
        <div class="LandingPage-itemBodyIcon">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-right"></use>
          </svg>
        </div>
      </a>
      <div class="LandingPage-itemImage" style="background-image: url(https://www.choate.edu/uploaded/images/About/Matriculation_089.jpg)">
      </div>
    </div>
    <div class="LandingPage-item">
      <a href="" class="LandingPage-itemBody LandingPage-itemBody--navy">
        <div class="flex-wrapper">
          <h2 class="h4">Application Process</h2>
          <p class="h5 normal">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque </p>
          <div href="" class="Button Button--small">Read More</div>
        </div>
        <div class="LandingPage-itemBodyIcon">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-right"></use>
          </svg>
        </div>
      </a>
      <div class="LandingPage-itemImage" style="background-image: url(https://www.choate.edu/uploaded/images/About/Matriculation_089.jpg)">
      </div>
    </div>
  </div>
</div>
{% endblock %}
