{% extends "base.twig" %}

{% block content %}
<div class="SinglePage container">
  <div class="SinglePage-content content-body">
    {% if acf.teaser %}
      <h3 class="h3 teaser">{{acf.teaser}}</h3>
    {% endif %}
    {% include 'layout/base.twig' %}
  </div>
</div>
{% endblock %}
