{% extends "base.twig" %}
{% block content %}

{% include 'components/banner.twig' %}
{% include 'components/subnav.twig' %}

{% set sidebar = no_sidebar ? 'noSidebar' : '' %}

<div class="{{'SinglePage'|modifiers("#{sidebar}")}} container">
  <div class="SinglePage-share Share">
    {% include 'components/social-share.twig' %}
  </div>
  <div class="SinglePage-content">
    <div class="Intro">
      <div class="Intro-breadcrumb">
        {% include 'components/breadcrumb.twig' %}
      </div>
      <h1 class="Intro-heading h2 light navy">{{post.title}}</h1>
      <p class="Intro-teaser light">{{acf.teaser}}</p>
    </div>
    {% include 'layout/base.twig' %}
  </div>

  {% if not no_sidebar %}
    <div class="SinglePage-sidebar Sidebar">
      <div class="Toc" data-component="toc">
        <h5 class="h7 caps spaced navy bold">{{__('In This Section', 'sdh')}}</h5>
      </div>
      {% if sidebar_sections %}
        {% include 'layout/sidebar-base.twig' %}
      {% endif %}
    </div>
  {% endif %}
</div>

{% endblock %}
