.ArchiveMedia {
  box: vertical;
  @include from(lg) {
    box: horizontal space-between;
  }
  @include from(xxl) {
    max-width: 1500px;
    margin: 0 auto;
  }

  .Lead {
    letter-spacing: .5px;
  }

  &-preferences {
    box: horizontal middle;
    background-color: $callout-bg;
    padding: $single $single*1.5;
    border: 1px solid #eee;
    order: 1;
    cursor: pointer;
    svg {
      size: $single*1.25;
      fill: #999;
      margin-right: $single*1.25;
    }
    span {
      user-select: none;
      font-size: .9375rem;
    }
    @include from(lg) {
      display: none;
    }
  }
  &-heading {
    margin-top: $single*6;
    padding: 0 $single*1.75;
    @include from(xxl) {
      padding: 0;
    }
  }
  &-result {
    box: horizontal wrap;
  }
  &-content {
    width: 100%;
    position: relative;
    flex: 1 0 auto;
    order: 3;
    min-height: 100px;
    @include at(sm) {
      padding: 0 $single;
    }
    @include from(lg) {
      // width: 76%;
      flex: 1 1 auto;
      order: 1;
      padding-right: $single*2;
    }
  }
  &-sidebar {
    @include to(md) {
      order: 2;
      padding: $single*1.5;
      border: 1px solid #eee;
      border-top: 0;
    }
    @include from(sm) {
      padding: $single*1.5 $single*8;
    }
    @include from(md) {
      padding: $single*1.5 $single*15;
    }
    @include from(lg) {
      width: 23.5%;
      display: block;
      order: 2;
      padding: 0;
      position: relative;
      top: -$single*2;
    }
    @include from(xl) {
      width: 20%;
    }
    @include from(xxl) {
      width: 18%;
    }
  }
  &-sidebarSection {
    position: relative;
    padding: $single*1.5 0;
    border-bottom: 1px solid #eee;
    &:last-of-type {
      border-bottom: 0;
      margin-bottom: $single;
    }

    h5 {
      @include caps;
      color: #666;
      letter-spacing: .75px;
      font-weight: 600;
      font-size: .775rem;
      margin-bottom: $single;
    }
    input {
      width: 100%;
    }
  }

  &-result--fadeOut {
    opacity: .3;
  }
  &-error {
    width: 100%;
    text-align: center;
    margin-top: $single*2;
    @include from(lg) {
      margin-top: $single*6;
    }
  }
  &-search {
    @include from(lg) {
      margin-bottom: $single*4 !important;
    }
  }
}
