.ArchiveEvents {
  position: relative;
  margin-top: $single*3;

  &-control {
    // box: horizontal middle left;
    margin: $single*2 0 $single*3;
    padding: $single 0;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;
  }

  &-filter {
    box: horizontal wrap;
    margin-top: $threefourth;
  }

  &-content {
    box: horizontal wrap top left;
    min-height: 500px; // So loader don't overlap control area
    &--fadeOut {
      opacity: .3;
    }
  }
}

.EventObject {
  box: horizontal middle;
  width: 100%;
  border-bottom: 1px solid $line;
  padding: $single*1.75 $single*1.25;
  transition: all .125s ease-in-out;

  svg {
    size: $threefourth;
    fill: $orange;
    margin-right: .35rem;
  }

  &-body {
    flex: 1;
    padding: 0 $single*1.5 0 $single*2.25;
    h3 {
      font-size: 1.4rem;
      line-height: 1.25;
      margin: $quarter 0;
    }
  }

  &-meta {
    box: horizontal middle;
    line-height: 1;
    .flex-wrapper {
      box: horizontal middle;
      margin-right: $threefourth;
    }
  }

  &-date {
    box: vertical middle center;
    background-color: $navy;
    border-radius: 50%;
    size: $single*3.75;
    > div:first-child {
      margin-bottom: .125;
    }
  }

  &:hover {
    background-color: #fafafa;
    border-radius: 5px;
  }
}
