.Four-o-four {
  margin: $single*4 auto;

  &--empty {
    p {
      font-size: 1.2rem / 1.65;
    }
    @at-root .archive #{&},
    .page-template-landing-page #{&} {
      display: none;
    }
  }
}
