.Home {
  position: relative;
  box: vertical middle center;
  size: 100%;
  width: 100vw;
  height: 100vh;

  &-background {
    @include cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex-hero;
    size: 100%;
    width: 100vw;
    height: 100vh;

    &Item {
      @include cover;
      @include overlay(true, rgba(0,0,0,.65));
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      size: 100%;
      width: 100vw;
      height: 100vh;
      opacity: 0;
      transition: opacity 2s cubic-bezier(0.2, 0.3, 0.25, 0.9), transform 23s cubic-bezier(0.2, 0.3, 0.25, 0.9);
      &--show {
        opacity: 1;
        transform: scale(1.15);
        z-index: $zindex-hero;
      }
      &--out {
        transform: scale(1);
      }
      &.lazyloaded {
        visibility: visible;
      }
    }
  }

  &-statements {
    box: vertical space-between left;
    z-index: $zindex-hero-copy;
    width: 55%;
    font-size: $single*2;
    transition: all .4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    opacity: 0;
    transform: scale(1.175);
    &Intro {
      margin-bottom: 0;
    }
    &Item {
      line-height: 1.6;
      margin-bottom: $half;
      // min-height: $single*9;
    }
    &Underlined {
      border-bottom: 5px solid $orange;
      padding-bottom: 3px;
      transition: opacity .5s ease-in-out;
    }
    &--show {
      opacity: 1;
      transform: scale(1);
    }
    &--static {
      transition: none;
    }
  }

  &-news {
    box: horizontal space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: $zindex-news-panel;
    transition: transform .19s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transform: translate3d(-$single*16,0,0);
    &Control {
      box: vertical middle center;
      width: $single*4.5;
    }
    &Panel {
      width: $single*16;
      height: 100%;
      height: 100vh;
      background-color: $white;
    }
    &Link {
      box: vertical middle center;
      color: $orange;
      background-color: rgba(255,255,255,.92);
      size: $single*4.5;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-bottom: $half;
      cursor: pointer;
      svg {
        size: $single;
        margin-bottom: $quarter;
      }
    }
    &--openViaModal {
      transform: translate3d(0,0,0);
    }
  }

  &-quicklinks {
    box: horizontal space-between;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: $zindex-hero-copy;
    width: $container-width;
    height: $single*3;
    &Item {
      box: horizontal middle center;
      width: 33.333%;
      padding: $single*2 $single;
      margin-right: $half;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      svg {
        fill: $white;
        size: $single;
      }
    }
    &Left {
      background-color: rgba(32,47,103,.9);
    }
    &Mid {
      color: #333;
      background-color: rgba(255,255,255,.9);
    }
    &Right {
      background-color: rgba(238,177,17,.9);
    }
  }

  &-sentences {
    display: none;
  }
}

.FrontPage {
  position: relative;
  z-index: $zindex-home-content;
}
