.MobileHome {
  @include from(lg) {
    display: none;
  }
  .Hero {
    width: 100%;
    height: $single*20;
    .flickity-slider {
      transform: none !important;
    }
    &-cell {
      @include cover;
      @include overlay(true, rgba(5,25,45,.7));
      size: 100%;
      left: 0 !important;
      opacity: 0;
      transition: opacity 0.3s cubic-bezier(0.2, 0.3, 0.25, 0.9);
      z-index: -1;
      &.is-selected {
        opacity: 1;
        z-index: 0;
      }
    }
  }
  &-about {
    box: vertical middle center;
    background-color: #F5F9FC;
    padding: $single*2.25 $single;
  }
}

.Home {
  display: none;
  @include from(lg) {
    box: vertical;
  }
  position: relative;
  size: 100%;
  width: 100vw;
  height: 100vh;

  &-background {
    @include cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex-hero;
    size: 100%;
    width: 100vw;
    height: 100vh;

    &Item {
      @include cover;
      @include overlay(true, rgba(5,25,45,.7));
      visibility: hidden;
      position: fixed;
      top: 0;
      left: 0;
      size: 100%;
      width: 100vw;
      height: 100vh;
      opacity: 0;
      will-change: transform, opacity;
      transition: opacity 1.75s cubic-bezier(0.2, 0.3, 0.25, 0.9), transform 23s cubic-bezier(0.2, 0.3, 0.25, 0.9);
      &--show {
        opacity: 1;
        transform: scale(1.15);
        z-index: $zindex-hero;
      }
      &--out {
        transform: scale(1);
      }
      &.lazyloaded {
        visibility: visible;
      }
    }
  }

  &-statements {
    position: absolute;
    bottom: 16%;
    left: 17%;
    box: vertical space-between left;
    z-index: $zindex-hero-copy;
    width: 55%;
    transition: all .4s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    opacity: 0;
    transform: scale(1.175);
    will-change: transform, opacity;

    @include from(xl) {
      // bottom: 20%;
    }
    @include from(xxl) {
      width: 50%;
      left: 12%;
    }

    &Intro {
      margin-bottom: $threefourth;
    }
    &Button {
      margin-top: $single*1.75;
    }
    &Item {
      margin-bottom: $half;
      font-size: 1.6rem / 1.65;
      @include from(xl) {
        font-size: 1.75rem / 1.7;
      }
      @include from(xxl) {
        font-size: 1.925rem / 1.7;
      }
    }
    &Underlined {
      border-bottom: 5px solid $orange;
      transition: opacity .5s ease-in-out;
    }
    &--show {
      opacity: 1;
      transform: scale(1);
    }
    &--static {
      transition: none;
    }
  }

  &-news {
    box: horizontal space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: $zindex-panels;
    transition: transform .19s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    transform: translate3d(-$single*16,0,0);
    will-change: transform, opacity;
    &Control {
      box: vertical middle center;
      width: $single*4.5;
      position: absolute;
      top: 50%;
      right: -$single*4.5;
      transform: translateY(-50%);
    }
    &Panel {
      width: $single*16;
      height: 100%;
      height: 100vh;
      background-color: $white;
      overflow: scroll;
    }
    &Link {
      box: vertical middle center;
      color: $orange;
      background-color: rgba(255,255,255,.92);
      size: $single*4.5;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-bottom: $half;
      cursor: pointer;
      svg {
        size: $single;
        margin-bottom: $quarter;
      }
    }
    &--open {
      transform: translate3d(0,0,0);
    }
  }

  &-quicklinks {
    box: vertical;
    position: absolute;
    top: 32%;
    right: 0;
    z-index: $zindex-hero-copy;
    &Item {
      box: horizontal middle left;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      margin-bottom: $half;
      cursor: pointer;
      will-change: background-color;
      transition: background-color .1s ease-in-out;
      @include at(lg) {
        max-width: $single*8;
        padding: $single;
      }
      @include from(xl) {
        padding: $single $single*2.5 $single $single*1.5;
      }
      .h5 {
        line-height: 1.35;
      }
      svg {
        position: absolute;
        left: -$half;
        fill: rgba(255,255,255,.75);
        size: .65rem;
        opacity: 0;
        transition: all .2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
      }
      &:hover {
        svg {
          opacity: 1;
          transform: translateX(-10px);
        }
      }
      &:nth-child(1) {
        background-color: rgba(32,47,103,.8);
        &:hover {
          background-color: rgba(32,47,103,1);
        }
      }
      &:nth-child(2) {
        background-color: rgba(36,172,206,.8);
        &:hover {
          background-color: rgba(36,172,206,1);
        }
      }
      &:nth-child(3) {
        background-color: rgba(238,177,17,.8);
        &:hover {
          background-color: rgba(238,177,17,1);
        }
      }
    }
  }

  &-sentences {
    display: none;
  }

  &-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: $zindex-hero-copy;
    padding-bottom: $single;

    .container {
      box: horizontal center space-between;
      border-top: 1px solid rgba(255,255,255,.15);
      padding-top: $quarter;
      @include from(lg) {
        padding: $quarter $single 0;
      }
      @include from(xl) {
        padding: $quarter $half 0;
      }
      @include from(xxl) {
        padding: $quarter 0 0;
      }
    }
  }
}
