.Header {
  display: none;
  width: 100%;
  background-color: $white;
  border-bottom: 1px solid $line;
  @include from(lg) {
    box: vertical;
  }

  &-logo {
    box: horizontal middle right;
    position: relative;
    z-index: 1;
    top: -$single*1.85;
    color: $navy;
    background-color: $white;
    padding: $single $threefourth;
    border-left: 6px solid $orange;
    box-shadow: 2px 2px 10px rgba(0,0,0,.075);
  }
  &-seal {
    width: 28%;
    height: 55px;
    svg {
      size: 100%;
    }
  }
  &-textLogo {
    width: 62%;
    height: 55px;
    margin-left: $quarter;
    svg {
      size: 100%;
    }
  }

  &-nav {
    box: horizontal middle;
    background-color: #fafafa;
    .flex-wrap {
      width: 15%;
    }
  }

  &-primary {
    width: 85%;
    padding: 0 $single*2.75 0 $single*1.25;
  }
  &-primaryList {
    box: horizontal space-around;
  }
  &-primaryLink {
    @include hover(#777, $navy);
    padding: $single*1.25 $single;
    &.is-Active {
      @include hover($navy, $navy);
      font-weight: $font-weight-bold;
    }
  }

  &-secondary {
    background-color: #26487c;
    box: horizontal;
  }
  &-secondaryList {
    @include right-slant($right: -3.75rem);
    box: horizontal;
    background-color: $navy;
    padding-right: $single;
  }
  &-secondaryLink {
    @include hover(inherit, $yellow);
    box: horizontal middle;
    padding: 0 $half;
    height: 100%;
  }

  &-pusher {
    width: 16.5%;
  }

  &-quicklinks {
    @include left-slant();
    box: horizontal right middle;
    flex: 1;
    background-color: $navy;
    @include from(xl) {
      &::after {
        display: none;
      }
    }
  }
  &-quicklink {
    box: horizontal right middle;
    color: $yellow;
    padding: 0 $half;
    height: 100%;
    svg {
      size: .85rem;
      margin-right: $half;
      @include from(xl) {
        margin-right: 0;
      }
      @include from(xxl) {
        margin-right: $half;
      }
    }
    span {
      @include from(xl) {
        display: none;
      }
      @include from(xxl) {
        display: inline;
      }
    }
  }

  &-slogan {
    @include left-slant();
    display: none;
    line-height: 1;
    padding-left: $half;
    @include from(xl) {
      box: vertical middle;
      background-color: $navy;
    }
  }

  &-languages {
    position: relative;
    color: $white;
    cursor: pointer;
    box: horizontal middle space-between;
    padding-right: $single*1.75;
    svg:first-of-type { // Globe
      size: 20px;
    }
    svg:last-of-type { // Chevron
      size: 15px;
    }
    span {
      margin: 0 $half;
    }
    &:hover > .Header-languagesDropdown {
      visibility: visible;
      opacity: 1;
    }
  }

  &-languagesDropdown {
    position: absolute;
    bottom: 0;
    right: 18px;
    transform: translateY(100%);
    background-color: #26487c;
    border-top: 1px solid $navy;
    transition: all .1s ease-in-out;
    visibility: hidden;
    opacity: 0;
    > a {
      display: block;
      padding: $half $single*2.25 $half $single*3.5;
      &:hover {
        background-color: #203667;
      }
    }
  }

  &-search {
    @include left-slant($left: -.3rem);
    box: horizontal middle center;
    transition: background-color .15s ease-in-out;
    color: white;
    background-color: $orange;
    padding: .65rem $single .65rem $threefourth;
    @include from(xxl) {
      margin-left: $single;
    }
    svg {
      size: 22px;
    }
    &:hover {
      background-color: darken($orange, 2.5%);
    }
  }

  &-ourCampuses {
    position: relative;
    box: horizontal middle;
    &Link {
      padding-right: $half;
      cursor: pointer;
    }
    svg {
      size: .9rem;
      fill: #aaa;
    }
    &Dropdown {
      box: vertical;
      position: absolute;
      top: $single*3.65;
      left: 0;
      z-index: 1;
      min-width: $single*10.5;
      background-color: $white;
      border-radius: 3px;
      border-bottom: 3px solid $orange;
      padding: $threefourth 0;
      will-change: opacity, visibility, transform;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-10px);
      transition: all .125s cubic-bezier(0.2, 0.3, 0.25, 0.9);
      a {
        @include hover($navy, $orange);
        padding: $half $single*1.25;
        line-height: 1;
      }
      &::before {
        content: '';
        position: absolute;
        top: -6px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left:6px solid transparent;
        border-right:6px solid transparent;
        border-bottom:6px solid rgba(255,255,255,.9);
      }
    }
    &:hover .Header-ourCampusesDropdown {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  @at-root .home #{&},
  .single-campus #{&} {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex-primarynav;
    background-color: transparent;
    border-bottom: 0;
    .Header-primary {
      border-left: 0;
      &Link {
        @include hover($white, $white);
      }
    }
    .Header-nav {
      width: 100%;
      background-color: transparent;
    }
    .Header-logo {
      border-right: 0;
      border-bottom: 0;
      box-shadow: 6px 6px 0 rgba(2,42,72,0.5);
    }
    .Header-ourCampuses svg {
      fill: $white;
    }
    .Header-ourCampusesDropdown {
      background-color: rgba(255,255,255,.9);
    }
  }

  @at-root .single-campus #{&} {
    .Header-logo {
      box-shadow: 2px 2px 10px rgba(0,0,0,.075);
    }
  }

}
