.LandingPage {
  box: horizontal space-between;

  &-banner {
    @include cover;
    @include overlay(false);
    width: 45%;
    border: 3px solid $white;
    border-left: 0;
    box: vertical top left;
    &Copy {
      position: absolute;
      top: 65%;
      left: 0;
      transform: translateY(-50%);
      width: 80%;
      padding: $single*1.5 $single*2.75 $single*2;
      background-color: rgba(255, 255, 255, 0.85);
    }
  }

  &-content {
    box: vertical;
    width: 55%;
  }

  &-item {
    width: 100%;
    box: horizontal space-between;
    &--alt {
      box: horizontal-reverse space-between;
    }

    // Colors
    &:nth-child(3n+1) &Body {
      @extend .LandingPage-itemBody--white;
    }
    &:nth-child(3n+2) &Body {
      @extend .LandingPage-itemBody--navy;
    }
    &:nth-child(3n+3) &Body {
      @extend .LandingPage-itemBody--orange;
    }
  }

  &-itemImage {
    @include cover;
    width: 50%;
    border: 3px solid white;
  }

  &-itemBody {
    box: vertical middle;
    position: relative;
    width: 50%;
    padding: $single*2;
    border: 3px solid white;
    overflow: hidden;
    .Button {
      margin-top: $single*1.25;
    }
    .flex-wrapper {
      position: relative;
      z-index: 1;
    }
    &Icon {
      position: absolute;
      bottom: $single;
      right: $single*1.5;
      z-index: 1;
      svg {
        size: .85rem;
        transition: all .1s ease-out;
      }
    }

    // Pseudos
    &:hover svg {
      transform: translate3d(8px, 0, 0);
    }
    &::after {
      content: "";
      display: block;
      height: 83%;
      position: absolute;
      top: 35px;
      width: 165%;
      z-index: 0;
      right: -440px;
      transform: rotate(-72deg);
    }

    // Appereances
    &--navy {
      @include white;
      background-color: $navy;
      &::after {
        background-color: lighten($navy, 3.25%);
      }
    }
    &--orange {
      @include white;
      background-color: $orange;
      &::after {
        background-color: lighten($orange, 4.75%);
      }
      .Button {
        @extend .Button--gray;
      }
    }
    &--white {
      background-color: #fafafa;
      .Button {
        @extend .Button--navy;
      }
      svg {
        fill: $navy;
      }
      &::after {
        background-color: darken($white, 4.75%);
      }
    }
  }
}
