.MobileHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-mobile-header;
  width: 100%;
  height: 100%;
  padding: $single $single*1.5;
  background-color: $navy;
  overflow-y: scroll;
  overflow-x: hidden;

  will-change: transform, opacity;
  transition: transform .2s cubic-bezier(.175,.885,.24,1.11), opacity .2s ease-in;
  transform: translate3d(0, -100%, 0);
  opacity: 0;
  &--open {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  &-burger {
    size: $single*3.25;
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: $zindex-burger;
  }

  &-logo {
    width: $single*10;
    box: horizontal middle;
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zindex-mobile-header;
    color: $white;
    padding: $threefourth;
  }

  &-wrapper {
    position: relative;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &-topbar {
    box: horizontal middle space-between;
    margin-bottom: $single;
  }

  &-close {
    box: vertical middle center;
    padding: $quarter;
    svg {
      size: $single*1.25;
      fill: $white;
    }
  }

  &-sub {
    overflow: hidden;
    max-height: 0;
    will-change: max-height;
    @at-root .MobileHeader-links--open #{&} {
      max-height: $single*25;
    }
  }
  &-subLink {
    display: block;
    padding: 0 $quarter;
    margin-bottom: $quarter;
  }

  &-links {
    padding: $single*1.125 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
    .flex-wrapper {
      box: horizontal middle space-between;
    }
  }

  &-link {
    cursor: pointer;
    * { user-select: none }
  }

  &-chevron {
    size: $threefourth;
    fill: $orange;
    margin-left: $single;
    will-change: transform;
    transition: transform .1s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    @at-root .MobileHeader-links--open #{&} {
      transform: rotateZ(90deg);
    }
  }

  &-nav {
    margin-bottom: $single*2;
  }

  &-secondaryNav {
    box: horizontal;
    margin-bottom: $single*2;
    .flex-wrapper {
      width: 50%;
    }
  }

  &-secondaryLink {
    display: block;
    color: rgba(255,255,255,.625);
    padding: .125rem 0;
  }

  &-social {
    box: horizontal space-around;
    svg {
      fill: $navy;
      size: $threefourth;
    }
    a {
      background-color: #eee;
      border-radius: 50%;
      padding: $threefourth;
    }
  }

  &-watermark {
    position: fixed;
    bottom: -$single*2.75;
    right: -$single*3.5;
    z-index: 0;
    svg {
      size: $single*14;
      fill: rgba(255,255,255,.06);
      transform: rotateZ(8deg);
    }
  }
}
