.Sidebar {
  flex: 0 0 auto;
  width: 33.333%;
  padding: $single*3;

  @at-root .ArchivePage #{&} {
    width: 31%;
    padding: 0 $single*2;
  }
  @at-root .SingleEvent #{&} {
    width: 30%;
    padding: 0 $single*2;
  }

  &-section {
    font-size: $font-size-h5;
    margin-bottom: $single;

    // DO WE NEED THIS??????
    // > * {
    //   margin-bottom: $single !important;
    // }

    // Style
    &--callout {
      @include white;
      border-radius: 3px;
      padding: $single*1.5;
    }
    &--framed {
      border: 1px solid $line;
      border-top: 3px solid $yellow;
      border-radius: 3px;
      padding: $single*1.5;
    }
    &--plain {
      // padding: 0 $threefourth;
    }

    // Colors
    &--navy {
      background-color: $navy;
    }
    &--blue {
      background-color: $sky;
    }
    &--purple {
      background-color: $purple;
    }
    &--maroon {
      background-color: $maroon;
    }
    &--yellow {
      background-color: #ffc42a;
    }
    &--green {
      background-color: $green;
    }
    &--gray {
      background-color: #f5f5f5;
    }
  }
}
