.SinglePage {
  box: horizontal;
  padding: $single*5 0;

  &-content {
    flex: 1;
    padding: 0 $single*1.25;
    @include from(md) {
      padding: 0;
    }
  }

  &--noSidebar {
    // Some components need smaller width when using the without-sidebar template

    [class="row"] > .column > .Editor {
      // In a one column layout, slim out editor
      max-width: $container-text-width;
      margin: 0 auto;
    }
  }
}
