.SingleCampus {

  &-message {
    box: vertical center;
    position: relative;
    width: 100%;
    margin-top: 8rem; // must be larger than photo's top value
  }
  &-photo {
    @include cover;
    position: absolute;
    size: 8rem;
    top: -4rem; // must be half of height
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
  }
  &-messageBody {
    background-color: #F5F9FC;
    border-radius: 4px;
    padding: $single*7 $single*5 $single*3;
    h2 {
      display: block;
      position: relative;
      font-size: 42px;
      text-align: center;
      margin-bottom: $single*5.5;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -$single*2.5;
        transform: translateX(-50%);
        height: 3px;
        width: 2.75rem;
        background-color: $yellow;
      }
    }
  }
  &-news {
    &:first-child {
      border-bottom: 1px solid $line;
      padding-bottom: $single*2;
    }
    &:last-child {
      padding-top: $single;
    }
  }
  &-maps {
    position: relative;
    &Locations {
      position: absolute;
      top: 50%;
      left: 12%;
      transform: translateY(-50%);
      z-index: 1000;
      min-width: $single*16;
      border-radius: 4px;
      background-color: #fafafa;
      box-shadow: 0 5px 10px rgba(0,0,0,.15);
    }
    &Button {
      display: block;
      padding: $single $single*1.5;
      border-bottom: 1px solid $line;
      .Button {
        cursor: pointer;
      }
      a {
        margin-left: $half;
      }
      h3 {
        font-size: 1.4rem;
      }
      p {
        line-height: 1.5;
      }
      svg {
        size: $threefourth;
        fill: #999;
      }
      &:hover {
        background-color: $white;
      }
      &Phone {
        margin-bottom: $single;
        svg {
          size: $single;
        }
        > .flex-wrapper {
          box: horizontal top;
          > .flex-wrapper {
            margin-left: $half;
          }
        }
      }
    }
    #Map {
      height: $single*30;
    }
  }

  &-quicklinks {
    margin-bottom: $single*3;
    svg {
      size: $single;
      fill: $orange;
      margin-right: $threefourth;
    }
  }
  &-quicklink {
    display: block;
    box: horizontal middle;
    margin-bottom: $half;
    &:first-of-type {
      margin-top: $threefourth;
    }
  }

}
