.SinglePage {
  box: horizontal;
  padding: $single*5 0 $single*7;

  &-share {
    width: 7%;
    padding-top: $single*3.25;
  }

  &-content {
    flex: 1;
  }

  &--noSidebar {
    // Some components need smaller width when using
    // the without-sidebar template

    // One column layout
    [class="row"] > .column > p {
      max-width: $container-text-width;
      margin: 0 auto;
    }
  }
}
