/*=============================================*/
/* Replace WP Login Logo and BG
/*=============================================*/
#login h1 a {
	background-image: url('https://lh3.googleusercontent.com/-B_PzAFJ3734/WJWg48rbeVI/AAAAAAAAAk0/ioNV5MyXSLACYCZ1hIt-6TTgoLZLQbRkQCHM/s400/sdh-logo-admin.png');
	background-size: contain;
	width: 219px;
	height: 67px;
}
body.login.login-action-login {
	background: url('https://lh3.googleusercontent.com/-8ZAjJHuSLEQ/WJWeCP2HdvI/AAAAAAAAAkc/ZcjaMGjGdUscORuj7rLh3aBHhZnsKZKAACHM/s1440/sdh-admin.jpg') no-repeat center center/cover;
}

/*=============================================*/
/* Remove "Lost your passowrd?" and
/* "Back to SDH" link
/*=============================================*/
p#nav,
p#backtoblog {
	display: none;
}

/*=============================================*/
/* Remove unnecessary fields from the
/* Page Attributes box
/*=============================================*/
#pageparentdiv .inside p:nth-child(1),
#pageparentdiv .inside p:nth-child(4) {
	margin-bottom: 4px;
}

/*=============================================*/
/* Remove the default WP custom taxonomy box
/* and replace with the acf one
/*=============================================*/
#tagsdiv-role.postbox {
	display: none;
}

/*=============================================*/
/* Make text editor bigger
/*=============================================*/
/*.medium-editor-element,
.medium-editor-placeholder {
	min-height: 150px;
}*/
[data-type="medium_editor"] .acf-input span {
	display: none;
}

/*=============================================*/
/* Use icomoon in the dashboard
/*=============================================*/
@font-face {
	font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rftce3');
  src:  url('fonts/icomoon.eot?rftce3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rftce3') format('truetype'),
    url('fonts/icomoon.woff?rftce3') format('woff'),
    url('fonts/icomoon.svg?rftce3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*=============================================*/
/* Add icons to ACF Flex content
/*=============================================*/
.acf-fc-popup [data-layout="resources"]::before {
	content: "\e2cc";
}
.acf-fc-popup [data-layout="people"]::before {
	content: "\e7fe";
}
.acf-fc-popup [data-layout="feed"]::before {
	content: "\e90c";
}
.acf-fc-popup [data-layout="list"]::before {
	content: "\e910";
}
.acf-fc-popup [data-layout="editor"]::before {
	content: "\e907";
}
.acf-fc-popup [data-layout="link"]::before {
	content: "\e157";
}
.acf-fc-popup [data-layout="image"]::before {
	content: "\e905";
}
.acf-fc-popup [data-layout="accordion"]::before {
	content: "\e900";
}
.acf-fc-popup [data-layout="form"]::before {
	content: "\e909";
}
.acf-fc-popup [data-layout="embed"]::before {
	content: "\e04a";
}
.acf-fc-popup [data-layout="map"]::before {
	content: "\e908";
}
.acf-fc-popup [data-layout="block"]::before {
	content: "\e906";
}
.acf-fc-popup [data-layout="blocks"]::before {
	content: "\e906";
}
.acf-fc-popup [data-layout="spacer"]::before {
	content: "\e904";
}
.acf-fc-popup [data-layout="tabs"]::before {
	content: "\e2c8";
}
.acf-fc-popup [data-layout="table"]::before {
	content: "\e90b";
}
.acf-fc-popup [data-layout="download"]::before {
	content: "\e2c0";
}
.acf-fc-popup [data-layout="gallery"]::before {
	content: "\e90d";
}
.acf-fc-popup [data-layout="one_column"]::before {
	content: "\e903";
}
.acf-fc-popup [data-layout="two_columns"]::before {
	content: "\e902";
}
.acf-fc-popup [data-layout="three_columns"]::before {
	content: "\e901";
}
.acf-fc-popup [data-layout="four_columns"]::before {
	content: "\e90a";
}

/*=============================================*/
/* Float some ACF buttons
/*=============================================*/
#acf-sidebar-builder .acf-actions li,
#acf-sidebar-builder .acf-actions li {
	float: left;
}

/*=============================================*/
/* Change Flex content popup to grid
/*=============================================*/
.acf-fc-popup ul {
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	width: 245px; /* 80*3+2+3 */
	padding: 0;
}
.acf-fc-popup	ul li {
	display: block;
	width: 80px;
	height: 80px;
}
.acf-fc-popup ul li:nth-child(3n+2) {
	border-left: 1px solid #444;
	border-right: 1px solid #444;
}
.acf-fc-popup ul li:nth-child(n+4) {
	border-top: 1px solid #444;
}
.acf-fc-popup ul li a {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex !important;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
	white-space: normal;
}
.acf-fc-popup ul li a::before {
	font-family: 'icomoon';
	font-size: 18px;
	display: block;
	height: 25px;
}

/*=============================================*/
/* ACF Utility classes
/*=============================================*/
/*.acf-left-fields {
	float: right!important;
	clear: none!important;
	min-height: 0!important;
}
.acf-short {
	min-height: 100px !important;
}*/

/*=============================================*/
/* For layout columns as horizontal rows
/*=============================================*/
.layout[data-layout='two_columns'] > .acf-fields,
.layout[data-layout='three_columns'] > .acf-fields,
.layout[data-layout='four_columns'] > .acf-fields {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}
.layout[data-layout='two_columns'] > .acf-fields > .acf-field-clone {
	width: 50%;
}
.layout[data-layout='three_columns'] > .acf-fields > .acf-field-clone {
	width: 33.333%;
}
.layout[data-layout='four_columns'] > .acf-fields > .acf-field-clone {
	width: 25%;
}

/*=============================================*/
/* ACF Service Details Option Page
/*=============================================*/
.essentials-description {
	color: #777777;
  font-size: 12px;
  line-height: 1.4em;
  font-style: normal;
  margin: 3px 0 0 !important;
  padding: 0 !important;
}
.essentials {
  display: block;
  width: 100%;
  overflow-x: scroll;
}
.essentials td {
  padding-right: 20px;
}
.essentials th {
  text-align: left;
  background-color: #f2f2f2;
  padding: 6px 10px;
}
.essentials td {
  vertical-align: top;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
}

/*=============================================*/
/* ACF Image Select Radio Button
/*=============================================*/
.acf-image-select label input {
	display: none;
}
.acf-image-select label p {
	margin: 0;
	font-weight: bold;
	text-align: center;
}
.acf-image-select label img {
	border: solid 6px #ddd;
}
.acf-image-select label.selected img {
	border: solid 6px #999;
}

/*=============================================*/
/* ACF Instructions style for message fields
/*=============================================*/
.acf-instruction {
	color: #777;
	font-size: 12px;
	line-height: 1.4em;
	border: 0 !important;
	background-color: #f8f8f8;
  padding-left: 55px !important;
	border-left: 3px solid #0085ba;
}
.acf-instruction::before {
	font-family: dashicons;
	content: "\f348" !important;
	font-size: 30px;
	color: #bbb;
	position: absolute;
	left: 10px !important;
	top: 50% !important;
	bottom: auto  !important;
	transform: translateY(-50%);
}
.acf-instruction + .acf-field {
	border-top: 0 !important;
}

/*=============================================*/
/* Get rid of unnecessary acf labels
/*=============================================*/
.acf-field-acf-google-photos-browser .acf-label,
.acf-instruction .acf-label {
	display: none;
}
.acf-field-acf-google-photos-browser--showlabel .acf-label {
	display: block;
}
#parent_id option.level-2 {
  display: none;
}

/*=============================================*/
/* Hide weird Network dropdown menu items
/*=============================================*/
#wp-admin-bar-blog-1-n,
#wp-admin-bar-blog-1-c,
#wp-admin-bar-blog-2-n,
#wp-admin-bar-blog-2-c,
#wp-admin-bar-blog-3-n,
#wp-admin-bar-blog-3-c,
#wp-admin-bar-new-media,
#wp-admin-bar-new-post,
#wp-admin-bar-new-user, {
  display: none;
}

/*=============================================*/
/* Medium Editor Styling
/*=============================================*/
#poststuff .medium-editor-element > * {
	padding: 0;
	margin: 0;
}
#poststuff .medium-editor-element > * + * {
	margin-top: 1em;
}
#poststuff .medium-editor-element h2 {
	font-weight: bold;
	font-size: 16px;
}
#poststuff .medium-editor-element h3 {
	font-weight: bold;
	font-size: 14px;
}
#poststuff .medium-editor-element p {
	font-size: 14px;
}
#poststuff .medium-editor-element p > b {
	font-weight: bold;
}
#poststuff .medium-editor-element blockquote {
	font-style: italic;
	padding-left: 1.5em;
}
#poststuff .medium-editor-element ul {
	list-style: disc outside none;
	padding-left: 1.4em;
}
#poststuff .medium-editor-element ol {
	list-style: decimal outside none;
	padding-left: 1.4em;
}
#poststuff .medium-editor-element li {
	margin-bottom: 2px;
}

/*=============================================*/
/* Hide Zoneboard blocks for campus_manager role.
/*=============================================*/
body.role-campus_manager .dashboard-grid .dashboard-panel {
	display: none;
}
body.role-campus_manager .dashboard-grid .dashboard-panel:nth-child(4),
body.role-campus_manager .dashboard-grid .dashboard-panel:nth-child(5),
body.role-campus_manager .dashboard-grid .dashboard-panel:nth-child(6) {
	display: block;
}

/*=============================================*/
/* Hide Clear cache for campus_manager role.
/*=============================================*/
body.role-campus_manager #wp-admin-bar-clear-timber-cache {
	display: none;
}

/*=============================================*/
/* Modalize Flex Content
/*=============================================*/
/*.acf-layout-builder > .acf-input > .acf-flexible-content > .values > .layout[data-layout='two_columns'] > .acf-fields > .acf-field-clone[data-type='clone'] > .acf-label {
  display: none;
}*/
