.Banner {
  @include cover(50% 27%);
  @include overlay(false);
  height: 675px;

  &-container {
    box: vertical bottom right;
    size: 100%;
    padding-bottom: $single*3;
  }

  &-copy {
    width: 60%;
    font-size: 1.5rem;
    line-height: 1.375;
    span {
      margin-bottom: $half;
    }
  }

  // Styles
  &--hidden { display: none; }
  &--small { height: $banner-small-height; }
  &--large { height: $banner-large-height; }
  &--top {
    background-position: top center;
  }
  &--bottom {
    background-position: bottom center;
  }
  &--campus { // For campuses banners
    > .container {
      box: vertical bottom left;
    }
    .Banner-copy {
      @extend .h2, .white;
    }
  }
}
