.Block {
	@include cover;
	@include overlay(false, "to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.65) 15%, transparent 50%, transparent 100%");
	box: vertical bottom center;
	position: relative;
	height: $single*13;
	border-radius: 3px;
	overflow: hidden;
	width: 100%;

	&-title {
		line-height: 1.3;
		padding: $single $single*1.5 $single*1.25;
	}

	&-body {
		@include overlay(true, rgba(32,47,103,.92));
		@include hover($white, $white);
		position: absolute;
		top: 0;
		left: 0;
		size: 100%;
		box: vertical center middle;
		padding: $single $single*1.25;
		opacity: 0;
		transform: translate3d(0, $single*4, 0);
		transition: all .185s ease-out;

		&Title {
			line-height: 1.3;
			margin-bottom: $half;
		}
		&Teaser {
			margin-bottom: $half;
		}
		&Link {
			box: horizontal middle center;
			svg {
				size: 10px;
				margin-left: .35rem;
			}
		}
	}

	&--hover {
		.Block-title {
			opacity: 0;
		}
		.Block-body{
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}
