.Button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  padding: $half $threefourth;
  background-color: $button-bg;
  border: 2px solid $button-bg;
  transition: all .1s ease-in-out;
  text: $white $font-weight-bold left none $font-size-h6 $line-height;

  // Pseudo
  &:hover,
  &--hover {
    background-color: darken($button-bg, 2.5%);
  }

  // Style
  &--navy {
    background-color: $navy;
    border: 2px solid $navy;
  }
  &--block {
    width: 100%;
    text-align: center;
  }

  &--gray {
    color: #555;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    &:hover {
      color: $white;
      background-color: #aaa;
      border: 1px solid #aaa;
    }
  }

  &--outline-light {
    color: $white;
    border: 2px solid $white;
    background-color: transparent;
    &:hover {
      border: 2px solid $white;
      background-color: transparent;
    }
  }
  &--outline-dark {
    color: $navy;
    border: 2px solid $navy;
    background-color: transparent;
    &:hover {
      border: 2px solid $navy;
      background-color: transparent;
    }
  }
  &--icon {
    > * {
      vertical-align: middle;
    }
    svg {
      size: $single;
      margin-right: $quarter;
    }
  }

  // Sizes
  &--small {
    padding: $quarter $threefourth;
  }
  &--large {
    padding: $single $single*1.75;
  }

  // Utilities
  &--withMargin {
    margin-top: $single;
  }
}
