.Callout {
  @include fullwidth;
  box: horizontal;
  background-color: #f5f5f5;

  &-content {
    width: 35%;
    padding: $single*3;
    padding-left: $single*5;
  }

  &-image {
    @include cover;
    width: 65%;
    min-height: $single*25;
  }

  &--reverse {
    .Callout-content {
      order: 2;
    }
    .Callout-image {
      order: 1;
    }
  }
}
