.Card {
  width: 100%;
  margin-bottom: $single*2.5;
  @include from(md) {
    width: 50%;
    border-right: $single*1.5 solid transparent;
    border-bottom: $single*1.75 solid transparent;
    margin-bottom: 0;
  }
  @include from(lg) {
    width: 33.333%;
  }

  &-image {
    @include cover;
    position: absolute;
    size: 100%;
    transition: transform 20s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
    @at-root .Card-link:hover #{&} {
      transform: scale(1.2);
    }
  }
  &-imageFrame {
    position: relative;
    height: 9rem;
    overflow: hidden;
    margin-bottom: $threefourth;
  }
  &-imageOverlay {
    position: absolute;
    background-color: rgba(0,0,0,0);
    size: 100%;
    z-index: 1;
    transition: background-color .2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    @at-root .Card-link:hover #{&} {
      background-color: rgba(0,0,0,.1);
    }
  }
  &-link {
    display: block;
    position: relative;
    margin-bottom: $single*2;
    &::after {
      content: '';
      position: absolute;
      left: -7px;
      bottom: -27px;
      height: 3px;
      width: 1.5rem;
      background-color: $yellow;
    }
  }
  &-title {
    color: #333;
    transition: color .125s ease-in-out;
    @at-root .Card-link:hover #{&} {
      color: $navy-light;
    }
  }
  &-social {
    box: horizontal middle space-between;
    .flex-wrapper {
      box: horizontal;
    }
  }
  &-share {
    @include hover($gray-lighter, $navy);
  }
}
