.Carousel {
  background-color: #162231;

  .flickity-page-dots {
    bottom: $single;
    @include from(lg) {
      display: none;
    }
    > .dot {
      background: rgba(255,255,255,.98);
      &.is-selected {
        background: $white;
      }
    }
  }

  &-container {
    width: 100%;
    margin: 0 auto;
    @include from(lg) {
      width: 82%;
    }
  }

  &-item {
    @include cover;
    box: vertical left middle;
    width: 100%;
    height: $single*30;
    overflow: hidden;
    padding: 0 $single*1.25;
    @include from(lg) {
      padding: 0 $single*4;
    }

    &--right {
      .Carousel-container {
        box: vertical right middle;
      }
      svg {
        top: -$single*2.125;
        right: -$single*3;
      }
      blockquote {
        text-align: right;
      }
      .Carousel-copy {
        box: vertical right middle;
      }
      .flex-wrapper {
        order: 1;
        text-align: right;
      }
      .Carousel-photo {
        order: 2;
        margin-left: $single;
      }
      @include to(md) {
        @include overlay(true);
      }
      @include from(lg) {
        @include overlay(false);
      }
    }
    &--left {
      @include overlay(false, null, true);
      .Carousel-container {
        box: vertical left middle;
      }
      svg {
        top: -$single*2.125;
        left: -$single*3;
      }
      @include to(md) {
        @include overlay(true);
      }
      @include from(lg) {
        @include overlay(false, null, true);
      }
    }
  }

  &-author {
    box: horizontal middle;
    margin-bottom: $single*1.25;
  }

  &-photo {
    @include cover;
    border-radius: 50%;
    size: $single*2.5;
    margin-right: $single;
    flex: 0 0 auto;
  }

  &-copy {
    position: relative;

    @include from(lg) {
      width: 75%;
    }
    @include from(xl) {
      width: 55%;
    }
    @include from(xxl) {
      width: 50%;
    }
    svg {
      position: absolute;
      size: $single*6.5;
      fill: rgba(255,255,255,.25);
    }
    blockquote {
      margin: $single*1.5 0;
      font-size: 1rem / 1.5;
      @include from(sm) {
        font-size: 1.125rem / 1.5;
      }
      @include from(md) {
        font-size: 1.25rem / 1.5;
      }
      @include from(lg) {
        font-size: 1.275rem / 1.5;
      }
      @include from(xl) {
        font-size: 1.3rem / 1.5;
      }
    }
  }

  &-nav {
    display: none;
    padding-bottom: $single;
    @include from(lg) {
      box: horizontal;
    }

    &Photo {
      @include cover;
      position: relative;
      top: -$single*1.5;
      size: $single*4;
      border-radius: 50%;
      border: 2px solid transparent;
      transition: border-color .13s ease-in-out;
      cursor: pointer;
      flex: 0 0 auto;
    }

    &Item {
      box: vertical;
      width: $single*11;
      padding: 0 $single $quarter;
      border-right: 1px solid rgba(255,255,255,.2);
      cursor: pointer;
      .flex-wrapper {
        box: horizontal center middle;
      }
      &:hover .Carousel-navPhoto {
        border: 2px solid $yellow;
      }
      &--active .Carousel-navPhoto,
      &--active:hover .Carousel-navPhoto {
        border: 4px solid $yellow;
      }
    }
  }

}
