.Cta {
  box: horizontal middle;
  position: relative;
  z-index: $zindex-footer-main;
  background-color: #F6F9FC;

  h3.h3 {
    font-size: 1.75rem / 1.5;
  }

  .flex-wrapper {
    width: 63%;
    padding: $single*3 $single*3 $single*3 $single*13;
  }

  &-buttons {
    @include left-slant;
    position: absolute;
    top: -8px;
    right: 0;
    width: 37%;
    background-color: $navy;
    padding-left: $single*2.5;
    padding-top: $single*5;
    padding-bottom: $single*4.75;
    .Button:first-child {
      margin-right: $threefourth;
    }
  }

  @at-root .home #{&} {
    display: none;
  }
}
