.Download {
  box: horizontal middle left;
  background-color: #F5F9FC;
  font-size: $font-size-h5;
  border-radius: 3px;
  padding: $single $single $single $single*1.25;
  max-width: 14.5rem;
  border: 1px solid #F5F9FC;
  transition: border-color .135s ease-in-out;

  svg {
    size: $single;
    fill: $orange;
  }

  &-body {
    margin-left: $single;
  }

  &-name {
    line-height: 1.3;
  }

  &:hover {
    border-color: #d9e9f5;
  }

  + .Download {
    border-top: 1px solid #e5e5e5;
  }
}
