.Editor {
  font-size: $font-size-h5;
  @include from(md) {
    font-size: $font-size-h4;
  }
  h2 {
    @extend .h3, .normal, .navy;
  }
  h3 {
    @extend .h6, .medium, .caps, .spaced, .orange;
  }
  b {
    color: $headings-color;
    font-weight: $font-weight-medium;
  }
  blockquote {
    font-size: 1.25rem / 1.525;
    font-weight: $font-weight-light;
    color: #444;
    position: relative;
    margin: $single 0;
    padding: $single*2 0;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;
    &::before {
      content: '';
      display: block;
      width: 3.25rem;
      height: 1.125rem;
      position: absolute;
      top: -.65rem;
      left: 50%;
      transform: translateX(-50%);
      background: $white url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzIgMzI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZEMjAwO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTcsMTRjMy45LDAsNywzLjEsNyw3cy0zLjEsNy03LDdzLTctMy4xLTctN2wwLTFDMCwxMi4zLDYuMyw2LDE0LDZ2NGMtMi43LDAtNS4yLDEtNy4xLDIuOQoJYy0wLjQsMC40LTAuNywwLjgtMSwxLjJDNi4zLDE0LDYuNywxNCw3LDE0eiBNMjUsMTRjMy45LDAsNywzLjEsNyw3cy0zLjEsNy03LDdzLTctMy4xLTctN2wwLTFjMC03LjcsNi4zLTE0LDE0LTE0djQKCWMtMi43LDAtNS4yLDEtNy4xLDIuOWMtMC40LDAuNC0wLjcsMC44LTEsMS4yQzI0LjMsMTQsMjQuNywxNCwyNSwxNHoiLz4KPC9zdmc+Cg==) no-repeat center center/contain;
    }
    &::after {
      content: '';
      display: block;
      width: 3.25rem;
      height: 1.125rem;
      position: absolute;
      bottom: -.65rem;
      left: 50%;
      transform: translateX(-50%);
      background: $white url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIzMnB4IiBoZWlnaHQ9IjMycHgiIHZpZXdCb3g9IjAgMCAzMiAzMiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzIgMzI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZEMjAwO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTI1LDIwYy0zLjksMC03LTMuMS03LTdzMy4xLTcsNy03czcsMy4xLDcsN2wwLDFjMCw3LjctNi4zLDE0LTE0LDE0di00YzIuNywwLDUuMi0xLDcuMS0yLjkKCWMwLjQtMC40LDAuNy0wLjgsMS0xLjJDMjUuNywyMCwyNS40LDIwLDI1LDIweiBNNywyMGMtMy45LDAtNy0zLjEtNy03czMuMS03LDctN3M3LDMuMSw3LDdsMCwxYzAsNy43LTYuMywxNC0xNCwxNHYtNAoJYzIuNywwLDUuMi0xLDcuMS0yLjljMC40LTAuNCwwLjctMC44LDEtMS4yQzcuNywyMCw3LjQsMjAsNywyMHoiLz4KPC9zdmc+Cg==) no-repeat center center/contain;
    }
  }

  .Lead {
    @extend .light;
    color: #666;
    font-size: 1.1rem / 1.45;
    @include from(md) {
      font-size: 1.35rem / 1.6;
    }
  }

  // General Sidebar
  @at-root .Sidebar-section #{&} {
    font-size: $font-size-h5;
    h2 {
      @extend .medium;
      font-size: 1.125rem;
    }
    h3 {
      @extend .h7, .medium, .caps, .spaced, .orange;
    }
  }

  //Sidebar Callout Colors
  @at-root .Sidebar-section--gray #{&} {
    h2 {
      color: $navy;
    }
    h3 {
      color: $orange;
    }
    p {
      color: #555;
    }
  }
  @at-root .Sidebar-section--navy #{&} {
    h2, p {
      color: $white;
    }
  }
  @at-root .Sidebar-section--yellow #{&} {
    h2, h3 {
      color: #001d88;
    }
    p {
      color: $gray-dark;
    }
  }
  @at-root .Sidebar-section--blue #{&} {
    h2, h3, p {
      color: $white;
    }
  }
  @at-root .Sidebar-section--maroon #{&},
  .Sidebar-section--purple #{&},
  .Sidebar-section--green #{&} {
    h2, p {
      color: $white;
    }
    h3 {
      color: $yellow;
    }
  }

}
