.Feed {

  /// REMOVE THIS
  width: 30%;

  &-body {
    box: vertical;
    margin-top: $single;
  }
  &-item {
    display: block;
    // padding-bottom: $single;
    // margin-bottom: $single;
    // border-bottom: 1px solid $line;
    p {
      margin-bottom: 0;
    }

    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: -7px;
      bottom: -27px;
      height: 3px;
      width: 1.5rem;
      background-color: $yellow;
    }

  }
  &-title {
    color: $gray;
    transition: color .125s ease-in-out;
    @at-root .Feed-item:hover #{&} {
      color: $navy-light;
    }
  }
  &-teaser {
    color: #666;
    margin-top: $quarter;
  }
  &-meta {
    color: #888;
  }
  &-date {
    box: vertical middle center;
    size: 65px;
    background-color: $navy;
    border-radius: 50%;
    margin-top: $single;
    flex: 0 0 auto;

    &Day {
      line-height: 1;
      font-size: 22px;
    }
    &Month {
      line-height: 1;
      text-transform: uppercase;
    }
  }

  &--event {
    .Feed-item {
      box: horizontal;
      .flex-wrapper {
        padding-left: $single*1.125;
      }
    }
  }

  ///////////////// JUICER.IO /////////////////
  &-social {
    // Juicer.io custom styling
    &.juicer-feed {
      font-family: $font-family !important;
      h1.referral { display: none; }
      .j-stack {
        .feed-item {
          border: 1px solid #e5e5e5;
          border-radius: 2px;
          .j-message p a.auto {
            @include hover($link-color, $link-hover-color);
            font-weight: $font-weight-medium;
          }
          .j-meta {
            .comments, .likes {
              font-size: .75rem;
            }
            a::before {
              font-size: .8rem !important;
            }
          }
          &.juicer { // Ad feed
            display: none !important;
          }
        }
      }
      .j-paginate.juicer-button {
        margin-top: $single;
        margin-bottom: $single;
        border: 0;
        border-radius: 3px;
        background-color: $button-bg;
        border: 2px solid $button-bg;
        padding: $half $threefourth;
        text-transform: none;
        text: $white $font-weight-bold center none $font-size-h6 $line-height;
      }
    }
  }
}
