.Intro {
  padding: 0 $single*1.25;

  &-heading {
    position: relative;
    padding-bottom: $single*1.75;
    margin-bottom: $single*3;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 2.75rem;
      background-color: $yellow;
    }

    &--center::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &-teaser {
    margin-bottom: $single*1.5;
    font-size: 1.35rem;
    @include from($desktop) {
      font-size: 1.6rem;
    }
  }
}
