.Link {
  display: inline-block;
  margin-bottom: $single;

  svg {
    display: inline-block;
    size: $half;
    margin-left: $quarter;
    vertical-align: middle;
    transition: all .1s ease-out;
    position: relative -1px;
  }

  &:hover {
    svg {
      transform: translate3d(5px, 0, 0);
    }
  }
}
