@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Loader {
  size: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: $zindex-loader;
  opacity: 1;
  visibility: visible;
  transition: all .2s ease-in-out;

  &-eagle {
    position: absolute;
    top: 14px;
    left: 11px;
    z-index: 2;
    size: $single*2.5;
    svg {
      size: 40px;
      fill: #26427C;
    }
  }
  &-spin {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    size: 64px;
    border: 3px solid #eee;
    border-top-color: $yellow;
    animation: spin .5s infinite linear;
  }

  &--light {
    .Loader-eagle svg {
      fill: rgba(255,255,255,.85);
    }
    .Loader-spin {
      border: 3px solid rgba(255,255,255,.25);
      border-top-color: $orange;
    }
  }

  &--fadeOut {
    transform: scale(1.25);
    opacity: 0;
    visibility: hidden;
  }
}
