.Pagination {
  box: horizontal middle center;
  margin-top: $single*1.5;

  &-pages {
    box: horizontal middle center;
  }

  &-prev,
  &-next {
    box: horizontal middle;
    cursor: pointer;
    color: $gray-lighter;
    padding: $quarter $half;
    margin: 0 $half;
    svg {
      size: .65rem;
      transition: all .1s ease-out;
    }
  }
  &-prev {
    margin-right: $threefourth;
  }
  &-next {
    margin-left: $threefourth;
  }

  &-page {
    @include hover($gray-lighter, $navy);
    box: horizontal middle;
    cursor: pointer;
    color: $gray-lighter;
    padding: $quarter $half;
    margin: 0 $half;
  }

  &--active {
    color: $navy;
    font-weight: $font-weight-bold;

    &.Pagination-page {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 3px;
        width: 65%;
        transform: translateX(-50%);
        background-color: $yellow;
      }
    }

    &.Pagination-prev:hover svg {
      transform: translate3d(-5px, 0, 0);
    }
    &.Pagination-next:hover svg {
      transform: translate3d(5px, 0, 0);
    }
  }
  &--inactive {
    cursor: default;
  }
}
