.Share {
  box: horizontal center middle;
  size: 100%;
  margin: $single*2.5 0 $single;

  @include from(xl) {
    box: vertical center;
    width: 7%;
    padding-top: $single*3.25;
    margin-right: $single*1.5;
  }

  &-socialMedia {
    box: horizontal left middle;
    @include from(xl) {
      box: vertical top center;
    }
  }

  &-title {
    text-align: center;
    margin-bottom: 0;
    margin-right: $threefourth;
    @include from(xl) {
      margin-bottom: $threefourth;
      margin-right: 0;
    }
  }

  &-button {
    @include hover(#aaa, $navy);
    box: horizontal middle;
    padding: $quarter;
    margin-bottom: 0;
    svg {
      size: $single;
    }
    @include from(xl) {
      margin-bottom: $half;
      svg {
        size: $single*1.125;
      }
    }
  }

  // &--horizontal {
  //   @include to(md) {
  //     box: horizontal middle center;
  //     width: 100%;
  //     padding: 0;
  //     margin: 0;
  //     .Share-title {
  //       margin-bottom: 0;
  //       margin-right: $threefourth;
  //     }
  //     .Share-button {
  //       margin-bottom: 0;
  //       svg {
  //         size: $single;
  //       }
  //     }
  //     .Share-socialMedia {
  //       box: horizontal middle;
  //     }
  //   }
  // }
}
