.Share {
  width: 7%;
  padding-top: $single*3.25;
  margin-right: $single*1.5;

  &-socialMedia {
    box: vertical top center;
    flex: 0 0 auto;
  }

  &-title {
    text-align: center;
    margin-bottom: $threefourth;
  }

  &-button {
    @include hover(#aaa, $navy);
    box: horizontal middle;
    padding: $quarter;
    margin-bottom: $half;
    svg {
      size: $single*1.125;
    }
  }

}
