.Spotlight {
	&-quote {
		position: relative;
		background-color: $navy;
		padding: $single;
		margin-bottom: $single*1.5;
		border-radius: 3px;
		&::after {
			content: '';
			position: absolute;
			bottom: -9px;
			left: $single*2;
			width: 0;
			height: 0;
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			border-top: 9px solid $navy;
		}
	}
	&-person {
		box: horizontal middle center;
		.h5 {
			line-height: 1.425;
		}
		> .flex-wrapper:first-child {
			margin-right: $single;
		}
	}
	&-photo {
		@include cover;
		size: $single*3;
		border-radius: 50%;
	}
}
