.Toc {
  border: 1px solid $line;
  border-top: 3px solid $yellow;
  border-radius: 3px;
  padding: $single*2;
  margin-bottom: $single*2.25;

  &-link {
    @include hover(#777, #777);
    display: block;
    padding: .2rem 0;
  }
}
