{% for section in sidebar_sections %}
  {% set callout = section.sidebar_section_options %}
  {% if callout == 'callout' %}
    {% set color = section.sidebar_section_color %}
  {% endif %}

  <div class="{{'Sidebar-section'|modifiers("#{callout}, #{color}")}}">
    {% for component in section.sidebar_components %}
      {% include 'components/' ~ component.acf_fc_layout ~ '.twig' with {'data': component} %}
    {% endfor %}
  </div>
{% endfor %}
