<section class="Cta">
  <div class="flex-wrapper">
    <h3 class="h3 light white noMargin">{{cta}}</h3>
  </div>
  <div class="Cta-buttons">
    {% for button in cta_buttons %}
      <a href="{{button.link}}" class="Button {% if loop.index != 1 %}Button--outline-light{% endif %}">{{button.label}}</a>
    {% endfor %}
  </div>
</section>
