<section class="Cta">
  <div class="flex-wrapper">
    <h3 class="h3 light navy noMargin">{{cta}}</h3>
  </div>
  <div class="Cta-buttons">
    <a href="" class="Button">Apply Now</a>
    <a href="" class="Button Button--outline-light">Request a Brochure</a>
  </div>
</section>
