<script id="EventObject" type="x-tmpl-mustache">
{% verbatim %}

{{#error}}
  <h3 class="h4 light navy ArchiveNews-error">{{error}}</h3>
{{/error}}
{{#empty}}
  <h3 class="h4 light navy ArchiveNews-error">{{empty}}</h3>
{{/empty}}

{{#title}}
  
{{/title}}

{% endverbatim %}
</script>
