<script id="EventObject" type="x-tmpl-mustache">
{% verbatim %}

{{#error}}
  <h3 class="h4 light navy ArchiveNews-error">{{error}}</h3>
{{/error}}
{{#empty}}
  <h3 class="h4 light navy ArchiveNews-error">{{empty}}</h3>
{{/empty}}

{{#title}}
  <a href="" class="EventObject">
    <div class="EventObject-date">
      <div class="Feed-mediaMonth h7 medium caps white center">Jan</div>
      <div class="Feed-mediaDay medium white center">15</div>
    </div>
    <div class="EventObject-body">
      <div class="h7 medium spaced caps faint">Holland Village</div>
      <h3 class="h3 normal navy noMargin">This is a long event</h3>
      <div class="EventObject-meta">
        <div class="flex-wrapper">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#clock"></use>
          </svg>
          <span class="h6 medium faint">8:00am - 10:00am</span>
        </div>
        <div class="flex-wrapper">
          <svg aria-hidden="true" role="presentation" title="">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#map"></use>
          </svg>
          <span class="h6 medium faint">Basketball Court</span>
        </div>
      </div>
    </div>
    <div class="flex-wrapper">
      <div href="" class="Button Button--small">{{__('See Event', 'sdh')}}</div>
    </div>
  </a>
{{/title}}

{% endverbatim %}
</script>
